env:
    global:
        - REPO_DIR=gensim
        - BUILD_COMMIT=3.8.2
        - UNICODE_WIDTH=32
        - GLOBAL_DEPENDS="six smart_open"
        - TEST_COMMON="pytest pytest-rerunfailures mock cython testfixtures scikit-learn Morfessor==2.0.2a4 python-Levenshtein>=0.10.2"
        - BUILD_DEPENDS="numpy==1.11.3 scipy==1.0.0 ${GLOBAL_DEPENDS}"
        - TEST_DEPENDS="${BUILD_DEPENDS} ${TEST_COMMON}"
        - MACOSX_DEPLOYMENT_TARGET=10.7
        - MANYLINUX_URL=""

language: python
# The travis Python version is unrelated to the version we build and test
# with.  This is set with the MB_PYTHON_VERSION variable.
python: 3.5
sudo: required
dist: trusty
services: docker

matrix:
  include:

    # Linux
    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
        - PLAT=x86_64
        - SKIP_NETWORK_TESTS=1

    - os: linux
      env:
        - MB_PYTHON_VERSION=3.5
        - PLAT=i686
        - SKIP_NETWORK_TESTS=1

    - os: linux
      env:
        - MB_PYTHON_VERSION=3.6
        - PLAT=x86_64

    - os: linux
      env:
        - MB_PYTHON_VERSION=3.6
        - PLAT=i686
        - SKIP_NETWORK_TESTS=1

    - os: linux
      env:
        - BUILD_DEPENDS="numpy==1.14.5 scipy==1.1.0 ${GLOBAL_DEPENDS}"
        - TEST_DEPENDS="${BUILD_DEPENDS} ${TEST_COMMON}"
        - MB_PYTHON_VERSION=3.7
        - PLAT=x86_64
        - SKIP_NETWORK_TESTS=1

    - os: linux
      env:
        - BUILD_DEPENDS="numpy==1.14.5 scipy==1.1.0 ${GLOBAL_DEPENDS}"
        - TEST_DEPENDS="${BUILD_DEPENDS} ${TEST_COMMON}"
        - MB_PYTHON_VERSION=3.7
        - PLAT=i686
        - SKIP_NETWORK_TESTS=1

    # MacOS
    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=3.5
        - SKIP_NETWORK_TESTS=1

    - os: osx
      language: generic
      env:
        - MB_PYTHON_VERSION=3.6
        - SKIP_NETWORK_TESTS=1

    - os: osx
      language: generic
      env:
        - BUILD_DEPENDS="numpy==1.14.5 scipy==1.1.0 ${GLOBAL_DEPENDS}"
        - TEST_DEPENDS="${BUILD_DEPENDS} ${TEST_COMMON}"
        - MB_PYTHON_VERSION=3.7
        - SKIP_NETWORK_TESTS=1


before_install:
    - source multibuild/common_utils.sh
    - source multibuild/travis_steps.sh
    - before_install

install:
    - clean_code $REPO_DIR $BUILD_COMMIT
    - build_wheel $REPO_DIR $PLAT

script:
    - install_run $PLAT

after_success:
    - pip install wheelhouse-uploader
    - echo ${TRAVIS_BUILD_DIR}/wheelhouse/
    - ls -laht ${TRAVIS_BUILD_DIR}/wheelhouse/
    # This uploads the wheels to a Rackspace container owned by the
    # scikit-learn team, available at http://wheels.scipy.org.  See above
    # for information on using this account or choosing another.
    - python -m wheelhouse_uploader upload --local-folder ${TRAVIS_BUILD_DIR}/wheelhouse/ --no-ssl-check gensim-wheels --provider S3

notifications:
  email:
    - penkov+gensimwheels@pm.me
  on_success: always
  on_failure: always
