language:
- objective-c
os: osx
osx_image: xcode7
env:
  #global: LATEST_TAG=1
  matrix:
  # 2.6, 2.7, 3.3, 3.4 and 3.5
  - VERSION=2.6 NUMPY_VERSION=1.10.1
  - VERSION=2.7 NUMPY_VERSION=1.10.1
  - VERSION=3.3 NUMPY_VERSION=1.10.1
  - VERSION=3.4 NUMPY_VERSION=1.10.1
  - VERSION=3.5 NUMPY_VERSION=1.10.1

install:
- source terryfy/travis_tools.sh
- get_python_environment macpython $VERSION venv
# Compile our own numpy from source (using Accelerate)
- pip install numpy==$NUMPY_VERSION --no-use-wheel
- pip install cython wheel six
- if [ -n "$LATEST_TAG" ]; then checkout_closest_tag gensim; fi
- cd gensim
- python setup.py bdist_wheel
- rename_wheels dist
- pip install dist/*.whl
- cd ..
script:
- if [ "${VERSION:0:3}" != "3.3" ]; then pip install -U numpy; fi
- pip install nose scipy
- mkdir tmp_for_test
- cd tmp_for_test
#  make sure we test the wheel
- nosetests --exe -v gensim
# this doesn't test wheel: - python ../setup.py test
- cd ..
#before_deploy: cd scikit-learn/dist
#deploy:
#  provider: cloudfiles
#  username: travis-worker
#  api_key:
#    secure: "YH0FqgMPfVmrqtJWxv614aiQxpBp3Gs+O47wj2lnAvFnb23IEWHrtqI6BAtpcRiZCY4WuvYprPv0nn7Lo9bJQYK25BS01/oEf3s67RUslnnWluBb5vcWzajoaQcweJRrSBDuuQeYpVs8XR5Dld0kMKsodbZVzAtThqywHCI+nBQ="
#  region: ORD
#  container: wheels
#  skip_cleanup: true

