environment:
  global:
    BUILD_COMMIT: 3.6.0
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C ..\\appveyor\\run_with_env.cmd"
    WHEELHOUSE_UPLOADER_USERNAME: "Lev.Konstantinovskiy"
    WHEELHOUSE_UPLOADER_SECRET:
      secure: qXqY3dFmLOqvxa3Om2gQi/BjotTOK+EP2IPLolBNo0c61yDtNWxbmE4wH3up72Be

  matrix:

    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7.12"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python27-x64"
      PYTHON_VERSION: "2.7.12"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python35"
      PYTHON_VERSION: "3.5.2"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python35-x64"
      PYTHON_VERSION: "3.5.2"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6.0"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python36-x64"
      PYTHON_VERSION: "3.6.0"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python37"
      PYTHON_VERSION: "3.7.0"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python37-x64"
      PYTHON_VERSION: "3.7.0"
      PYTHON_ARCH: "64"


matrix:
  fast_finish: true


install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python -m pip install -U pip setuptools wheel wheelhouse_uploader"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "git submodule update --init --recursive"
  - "cd gensim"
  - "git checkout %BUILD_COMMIT%"
  - "git clean -fxd"
  - "git reset --hard"


  # Install the build and runtime dependencies of the project.
  - cmd: IF "%PYTHON_VERSION%"=="3.7.0" (%CMD_IN_ENV% pip install --timeout=60 numpy==1.14.5 scipy==1.1.0) ELSE (%CMD_IN_ENV% pip install --timeout=60 --trusted-host 8003f898b26602186ccc-7b1aad3fab3cc330e1fd9d109892382a.ssl.cf2.rackcdn.com/ --find-links https://8003f898b26602186ccc-7b1aad3fab3cc330e1fd9d109892382a.ssl.cf2.rackcdn.com/ numpy==1.11.3 scipy==0.18.1)
  - "%CMD_IN_ENV% pip install --timeout=60 smart_open pytest pytest-rerunfailures mock cython pyemd testfixtures scikit-learn Morfessor==2.0.2a4"
  - "%CMD_IN_ENV% python setup.py bdist_wheel bdist_wininst"
  - ps: "ls dist"

  # Install the generated wheel package to test it
  - "pip install --pre --no-index --no-dependencies --force-reinstall --find-links dist/ gensim"


build: false


test_script:
  # Change to a non-source folder to make sure we run the tests on the
  # installed library.
  - "cd .."
  - "mkdir empty_folder"
  - "cd empty_folder"
  - "SET PYTHONHASHSEED=1"
  - "pytest -rfxEXs --durations=20 --disable-warnings --showlocals --reruns 3 --reruns-delay 1 --pyargs gensim"
  - "cd ../gensim/dist"
  - "ls"


artifacts:
  # Archive the generated wheel package in the ci.appveyor.com build report.
  - path: "gensim\\dist\\*"


on_success:
  # Upload the generated wheel package to Rackspace
  # On Windows, Apache Libcloud cannot find a standard CA cert bundle so we
  # disable the ssl checks.
  - "python -m wheelhouse_uploader upload --no-ssl-check --local-folder=.  gensim-wheels"


notifications:
  - provider: Email
    to: ivan+gensimwheels@rare-technologies.com
    on_build_success: true
    on_build_failure: true
