environment:
  global:
    BUILD_COMMIT: d145377f994e0f8cbc8bfa421342da2c52b16291
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C ..\\appveyor\\run_with_env.cmd"
    WHEELHOUSE_UPLOADER_USERNAME:
      secure: 5XWj5Siu0pGOPKzx6VOe/mq23+9vbvzBsAA+UFvtFvw=
    WHEELHOUSE_UPLOADER_SECRET:
      secure: CKjewPPfH6vXYbZYZnF+w05yoA4HUwOcxmxnahDzT3xlB1F5kx9ng0u8mDUR++Wh

  matrix:
    - PYTHON: "C:\\Python35"
      PYTHON_VERSION: "3.5.2"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python35-x64"
      PYTHON_VERSION: "3.5.2"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python36"
      PYTHON_VERSION: "3.6.0"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python36-x64"
      PYTHON_VERSION: "3.6.0"
      PYTHON_ARCH: "64"

    - PYTHON: "C:\\Python37"
      PYTHON_VERSION: "3.7.0"
      PYTHON_ARCH: "32"

    - PYTHON: "C:\\Python37-x64"
      PYTHON_VERSION: "3.7.0"
      PYTHON_ARCH: "64"


matrix:
  fast_finish: true


install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python -m pip install -U pip setuptools wheel wheelhouse_uploader"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "git submodule update --init --recursive"
  - "cd gensim"
  - "git checkout %BUILD_COMMIT%"
  - "git clean -fxd"
  - "git reset --hard"


  # Install the build and runtime dependencies of the project.
  - cmd: IF "%PYTHON_VERSION%"=="3.7.0" (%CMD_IN_ENV% pip install --timeout=60 numpy==1.14.5 scipy==1.1.0) ELSE (%CMD_IN_ENV% pip install --timeout=60 numpy==1.11.3 scipy==1.0.0)
  - "%CMD_IN_ENV% pip install --timeout=60 smart_open pytest pytest-rerunfailures mock cython testfixtures scikit-learn Morfessor==2.0.2a4 python-Levenshtein>=0.10.2"
  - "%CMD_IN_ENV% python setup.py bdist_wheel bdist_wininst"
  - ps: "ls dist"

  # Install the generated wheel package to test it
  - "pip install --pre --no-index --no-dependencies --force-reinstall --find-links dist/ gensim"


build: false

test_script:
  - "cd .."
  - "mkdir empty_folder"
  - "cd empty_folder"
  - "SET PYTHONHASHSEED=1"
  - "pytest -rfxEXs --durations=20 --disable-warnings --showlocals --reruns 3 --reruns-delay 1 --pyargs gensim"


# Upload wheels at the end of process (no matters, success or fail)
on_finish:
  - "ls -laht ../gensim/dist/"
  # TODO: uncomment me back before merge ('wheelhouse_uploader' takes too much time for upload, meh)
  # - "cd ../gensim/dist/"
  # - "python -m wheelhouse_uploader upload --no-ssl-check --local-folder=.  gensim-wheels --provider S3"

notifications:
  - provider: Email
    to: penkov+gensimwheels@pm.me
    on_build_success: true
    on_build_failure: true
